@import "~normalize-scss/sass/normalize/import-now"

@import "variables/colors"
@import "variables/typography"
@import "variables/sizes"

@import "mixins/pointer"
@import "mixins/through-container"

@import "functions/ratio"

@import "fonts"
@import "container"
@import "media"

html,
body
  margin: 0
  padding: 0

html
  font-size: 62.5%

  +respond($phone)
    font-size: 55%

body
  box-sizing: border-box

  overflow-x: hidden

*,
*::before,
*::after
  box-sizing: inherit

h1,
h2,
h3,
h4,
h5,
h6
  margin: 0
  padding: 0
