.section
  display: flex
  justify-content: center

  .list
    display: flex
    align-items: center

    padding: .2rem

    border: $price-select-border
    border-radius: 5rem

    font-size: $price-select-font-size
    font-weight: $price-select-font-weight

    .variant
      display: inline-block

      padding: 1.2rem 3rem

      color: $price-select-variant-color
      background-color: transparent

      backface-visibility: hidden

      outline: 0
      border-radius: 5rem

      transition: $price-variants-select-animation

      +pointer-on-hover

      &.selected
        color: $white
        background-color: $price-select-selected-variant-color
