.networks
  display: flex
  justify-content: center
  align-items: center

  .network
    margin-left: 1.6rem

    font-size: $network-font-size

    color: $footer-blue-color

    transition: color .4s

    &:active,
    &:hover,
    &:visited
      color: $white
