.section
  display: flex
  justify-content: space-between
  align-items: center

  padding: 5rem 0

  border-top: 2px solid rgba(#e5e6e5, .44)

  .content
    .title
      font-size: 4.3rem

    .description
      font-size: 1.6rem

    .stores
      display: flex

      .store
        position: relative
        width: 18.5rem
        height: 5.5rem

        &:not(:last-of-type)
          margin-right: 3rem

  .image
    width: 45vw
    height: get-height(45vw, 1.78)
