.nav
  display: flex
  align-items: center

  font-size: $nav-font-size

  .list
    display: flex
    justify-content: space-between
    align-items: center

    margin-right: 4rem

    list-style: none

    +respond($small-desktop)
      display: none

    .item
      margin-left: 2.5rem

      /* TODO: Add hover animation */
      .link
        color: $nav-color
        text-decoration: none

        &.light
          color: $white

      +pointer-on-hover()

  .hamburger
    display: none

    +respond($small-desktop)
      display: flex
      flex-direction: column

      margin-top: .5rem

    &.light
      .line
        background-color: $white

    .line
      position: relative

      width: $hamburger-width
      height: $hamburger-line-height

      background-color: $hamburger-background

      &:not(:last-of-type)
        margin-bottom: .5rem

      +pointer-on-hover

  .button
    margin-left: 2rem

    +respond($small-phone)
      margin-left: 1rem

  .light
    color: $white
