.nav
  display: flex
  align-items: center

  font-size: 1rem

  .list
    display: flex
    justify-content: space-between
    align-items: center

    list-style: none

    color: $nav-color

    .item
      margin-left: 1.5rem

      +pointer-on-hover()

  .light
    color: $white
