.badge
  position: relative

  padding: .5rem

  background-color: #e2eaed

  border-radius: 2rem

  height: 30px

  .rounded
    position: absolute
    top: 0
    left: 0

    display: flex
    justify-content: center
    align-items: center

    width: 2.1rem
    height: 2.1rem

    background-color: #feaa25

    border-radius: 2rem

  .content
    color: #242f51

    height: 2rem
