.badge
  position: relative

  width: 37rem
  height: 3.2rem

  background-color: #e2eaed
  border-radius: 3.2rem

  .rounded
    position: absolute
    top: 0
    left: 0

    display: flex
    justify-content: center
    align-items: center

    width: 3.5rem
    height: 3.3rem

    border-radius: 3.2rem

  .content
    position: absolute
    top: 50%
    left: 4.5rem

    transform: translateY(-50%)

    font-size: 1.8rem

    color: #242f51
