.feature
  display: flex

  margin: 2rem 0

  .round
    margin-right: 2rem

    padding: 1.5rem

    border-radius: 5rem

    .icon
      width: 5rem

  .feature
    font-size: $feature-title-font-size
    font-weight: $feature-title-font-weight

  .description
    font-size: $feature-description-font-size
    font-weight: $feature-description-font-weight
    color: $features-description-color
