// Common
$white: #fff
$black: #000

$dark-blue: #242f51
$white-blue: #2500f9
$white-grey: #f9fbfc
$grey: #616368

$wrapper-color: $white-grey

// Badge
$badge-common-background-color: #e2eaed
$badge-content-color: $dark-blue

// Header
$logo-first-color: orange
$logo-second-color: $dark-blue

$nav-color: $dark-blue

$try-button-background: $white-blue

// Hamburger
$hamburger-not-light-background: $black
$hamburger-menu-background-color: $wrapper-color
$hamburger-menu-border-color: .2rem solid darken($wrapper-color, 5%)

// Footer
$footer-background: #09142e

$footer-blue-color: rgba(#fff, .21)

// Home
$home-title-color: $dark-blue
$home-description-color: $grey
$home-demo-color: $white-blue

// Features
$features-description-color: $grey
$features-line-background: rgba(#4b4a48, .39)

// Download App
$download-app-border-top: rgba(#e5e6e5, .44)

// Choose App
$choose-app-border-top: rgba(#e5e6e5, .44)
$choose-app-description-color: $grey

// Price select
$price-select-border-color: #ebebeb
$price-select-border: 2px solid $price-select-border-color
$price-select-variant-color: $grey
$price-select-selected-variant-color: $white-blue

// Pricing and Price
$pricing-section-description-color: $grey
$pricing-border-color: #ebebeb
$pricing-border: 1px solid #ebebeb
$pricing-shadow: .4rem 5.5rem 6.2rem rgba(144, 163, 177, .18)
$pricing-trial-color: $white-blue
$pricing-features-color: #999ca5
$pricing-description-color: #999ca5
// TODO: Shrink
$pricing-grey-gradient: linear-gradient(to bottom, rgba(243, 249, 249, 0.18) 0%, rgba(245, 247, 249, 0.51) 40%, rgba(245, 247, 248, 0.77) 61%, rgba(244, 247, 249, 0.98) 81%, rgba(244, 247, 249, 0.98) 100%)

// Review
$review-content-color: $grey
$review-star-not-filled-color: grey
$review-star-filled-color: #ffcc00
$review-info-about-color: $grey

$review-line-background: #e7e7e7

$review-arrow-color: $white-blue
$review-arrow-background-color: #eff3f8

$review-arrow-selected-color: #dee1e6
$review-arrow-selected-background-color: transparent
$review-arrow-selected-border-color: 2px solid #eff3f8

// Testiminial
$testiminial-title-color: #242f51
$testiminial-description-color: #616368

// FAQ
$faq-item-background-color: #f5f7fa
$faq-item-add-icon-color: #242f51
$faq-item-answer-color: #616368

$faq-description-color: #616368
