// Common
$white: #fff

$dark-blue: #242f51
$white-blue: #2500f9
$white-grey: #f9fbfc

$wrapper-color: $white-grey

// Badge
$badge-common-background-color: #e2eaed
$badge-content-color: $dark-blue

// Header
$logo-first-color: orange
$logo-second-color: $dark-blue

$nav-color: $dark-blue

$try-button-background: $white-blue

// Hamburger
$hamburger-background: #000

// Footer
$footer-background: #09142e

$footer-blue-color: rgba(#fff, .21)

// Home
$home-title-color: $dark-blue
$home-description-color: #616368
$home-demo-color: $white-blue

// Features
$features-description-color: #616368
$features-line-background: rgba(#4b4a48, .39)

// Download App
$download-app-border-top: rgba(#e5e6e5, .44)
