// Common
$bold: 700

// Badge
$badge-content-font-size: 1.8rem

// Logo
$logo-font-size: 3.2rem
$logo-font-weight: $bold

// Try Button
$try-button-font-size: 1.6rem
$try-button-font-weight: $bold

// Networks
$network-font-size: 2.5rem

// Home
$home-title-font-size: 6rem
$home-description-font-size: 1.8rem
$home-description-line-height: 2.8rem
$home-demo-font-size: 1.6rem
