// Common
$white: #fff

$dark-blue: #242f51
$white-blue: #2500f9

// Badge
$badge-common-background-color: #e2eaed
$badge-content-color: $dark-blue

// Header

$logo-first-color: orange
$logo-second-color: $dark-blue

$nav-color: $dark-blue

$try-button-background: $white-blue

// Footer

$footer-background: #09142e

$footer-blue-color: rgba(#fff, .21)
